{{#partial "content"}}

    <h1>Hero list!</h1>


    {{#if hero}}
    {{#each hero }}
    <p>Current heroes</p>
    <p> Name:{{ name }}</p>
    <p>Age:{{ age }}</p>
    <p>Power:{{ power }}</p>
    <p>Weakness:{{ weakness }}</p>

    {{/each}}
    {{else}} <!--no posts!-->

    <p>No Heros</p>
    {{/if}}

    <a href="/heroes/new"> Add a Hero</a>

{{/partial}}

{{> layout.hbs}}